#Test{
    border: 5px solid black;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 900px;
    height: 500px;
}
.score-container {
    text-align: center;
    position: absolute;
    top: 70%; /* Adjust this value to place the slider at the desired position */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.gameOver {
    text-align: center;
    font-size: 100px;
    position: absolute;
    top: 10%; /* Adjust this value to place the slider at the desired position */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}